<div>
  <div class="row justify-content-center mt-3 gap-2">
    <div
      class="card border-dark mb-3 col-12 col-lg-6 col-xl-4"
      style="max-width: 20rem"
      *ngFor="let article of newsList"
    >
      <div class="card-body">
        <span class="badge bg-primary">{{ article.source.name }}</span>
        <h4 class="card-title mb-2 mt-1">{{ article.title }}</h4>
        <p class="badge bg-light">{{ formatDateTime(article.publishedAt) }}</p>
        <div class="d-grid">
          <a
            type="button"
            [href]="article.url"
            class="btn btn-primary d-block text-uppercase"
            target="_blank"
            >Ver noticia</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
