<app-navbar titulo="Buscador de noticias"></app-navbar>
<div class="container">
  <app-formulario
    (parametrosSeleccionados)="buscarNoticias($event)"
  ></app-formulario>
  <h4 class="text-center mt-3" *ngIf="!isLoading">
    Articulos encontrados: {{ newsList.length }}
  </h4>

  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="alert alert-dismissible alert-primary mt-3" *ngIf="isError">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{ txtError }}</strong>
  </div>
  <app-listado-noticias [newsList]="newsList"></app-listado-noticias>
</div>
